@model ReservationSlotsPageModel

@{
	ViewData["Title"] = "Manage reservation slots";
}

<h3>@ViewData["Title"]</h3>
<div class="row my-4">
	<div class="col-4">
		<div class="mb-3">
			<label class="form-label">Select a court</label>
			<select id="courtSelector" class="form-select" asp-items="new SelectList(Model.CourtItems, nameof(CourtSelectionModel.Id), nameof(CourtSelectionModel.Name))">				
				<option disabled selected></option>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label">Select a date</label>
			<input id="dateSelector" asp-for="DefaultDate" class="form-control" />
		</div>		
		<div class="mb-3">
			<label class="form-label">Select a template</label>			
			<div class="d-flex">
				<select id="templateSelector" class="form-select" asp-items="new SelectList(Model.TemplateItems, nameof(TemplateSelectionModel.Id), nameof(TemplateSelectionModel.Name))">						
					<option disabled selected></option>
				</select>
				<button type="button" class="btn btn-primary ms-2" id="fillButton">Fill</button>	
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-8">		
		<table class="table text-nowrap">
			<thead>
				<tr>
					<td>@*DaySlot*@</td>
					<td>Mon</td>
					<td>Tue</td>
					<td>Wed</td>
					<td>Thu</td>
					<td>Fri</td>
					<td>Sat</td>
					<td>Sun</td>
				</tr>
				<tr>
					<td>@*DaySlot*@</td>
					@for(int i=0; i < 7; i++)
					{
						<td id="weekday_@i"></td>
					}
				</tr>
			</thead>
			<tbody>                        
                @for(int hour = 0; hour < 24; hour++)
                {
					<tr>
                        @{
                            string displayHour = $"{hour:d2}:00 - {hour + 1:d2}:00";
                        }

                        <td>@displayHour</td>                        

                        @for(int dayOfWeek = 0; dayOfWeek < 7; dayOfWeek++)
						{
							<td>
								@{
									//int checkBoxId = dayOfWeek * 24 + hour;
									int slotNr = dayOfWeek * 24 + hour;
									//string divId =  $"{mondayAsString}_{slotNr}";
								}  

                                <div class="d-inline slot" id="@slotNr">
                                    <input type="checkbox" class="form-check" name="isSelected" value="true"/> 
                                    <input style="width: 80px; text-align: right" type="text" name="price" class="form-control d-inline" />									
                                </div>                                        
								<span>€</span>                                   
                            </td>
                        }
                    </tr>
                }                        
            </tbody>
		</table>
		<input type="hidden" id="mondayDateUtc" value="" />
		<input type="hidden" id="csrfToken" value="@Model.CsrfToken" />
		<div class="container">
			<button type="button" id="submitButton" class="btn btn-primary">Submit</button>
			<button type="button" id="clearButton" class="btn btn-info">Clear</button>
			<span id="submitResult"></span>
		</div>
		
		
	</div>
</div>

@section Scripts{
	<script>
		
		$(function(){
			//findMonday($('#dateSelector').val());
			updateDates();	//we populate on document ready		

			$('#clearButton').click(function(){
				clearSelections();
			});

			$('#dateSelector').on('change', function(){
				updateDates();				
				//we clear the current selection
				clearSelections();

				//we fetch if a court and a date are selected
				mondayDate = $('#mondayDateUtc').val();
				courtId = $('#courtSelector').val();

				if(mondayDate != null && courtId != null){
					fetchAndFillSlots(mondayDate, courtId);
				}
			});

			$('#courtSelector').on('change', function(){				
				//we clear the current selection
				clearSelections();
				
				//we fetch if a court and a date are selected
				mondayDate = $('#mondayDateUtc').val();
				courtId = $('#courtSelector').val();

				if(mondayDate != null && courtId != null){
					fetchAndFillSlots(mondayDate, courtId);
				}
			});

			$('#fillButton').on('click', function(){
				var templateId = $('#templateSelector').val();

				if(templateId != null){
					$.ajax({
						url: '/api/templateentries?templateId='+templateId,
						type: 'GET',
						dataType: 'json',
						success: function(result){
							//we clear all the slots
							clearSelections();
					
							//we populate the right ones
							populateSlots(result);
						}
					});
				}
				else{
					alert('Please select a template');
				}
			});

			$('#submitButton').on('click', function(){
				var slotsList = new Array();	

				$('div.slot').each(function(index, item){					
					var isSelected = $(this).children()[0].checked;
					
					if(isSelected){
						var price = $(this).children()[1].value;

						if(price == ""){
							price = 0;
						}

						var toPush = {
							Slot: item.id, 
							Price: price
						}

						slotsList.push(toPush);
					}
				});

				var payload = {
					MondayDateUtc: $('#mondayDateUtc').val(),
					CourtId: $('#courtSelector').val(),
					SlotEntries: slotsList
				}

				$.ajax({
					url: "/api/slots", 
					type: "POST",
					data: JSON.stringify(payload), 
					contentType: "application/json; charset=utf-8",
					headers:{
						"@HttpHeadersNames.X_CSRF_TOKEN":"@Model.CsrfToken"  
					},
					success: function(result){	
						var resultSpan = document.getElementById('submitResult');						
						resultSpan.className = 'text-success';
						resultSpan.innerText = 'Submission OK !!';	

						setTimeout(function(){
							resultSpan.innerText = "";
						}, 2000);
					},
					error: function(result){
						var resultSpan = document.getElementById('submitResult');						
						resultSpan.className = 'text-danger';
						resultSpan.innerText = 'Submission FAILED !!';	
						
						setTimeout(function(){							
							resultSpan.innerText = "";
						}, 2000);
							
					}
				});

			});
		});

		function updateDates(){		

			var selectedDate = $('#dateSelector').val();

			if(selectedDate != ""){
				const options = {
					  day: '2-digit',
					  year: 'numeric',
					  month: '2-digit'					  
				}

				var mondayDate = findMonday(selectedDate);
				
				for(var i = 0; i < 7; i++){
					var date = addDays(mondayDate, i);
					$('#weekday_' + i).text(date.toLocaleDateString('it-IT', options));
				}
				
				$('#mondayDateUtc').val(mondayDate.toISOString());
			}
			else{
				$('#mondayDateUtc').val(null);
			}
		}

		function fetchAndFillSlots(mondayDate, courtId){
			$.ajax({
				url: '/api/slots?mondayDateUtc=' + $('#mondayDateUtc').val() + '&courtId=' + $('#courtSelector').val(),
				type: 'GET',
				dataType: 'json',
				success: function(result){					
					populateSlots(result);
				}
			});
		}

		function findMonday(date){
			var selectedDate = new Date(date);
			var selectedDOW = selectedDate.getDay();
			var dayDiff = (selectedDOW - 1 + 7) % 7;
			var mondayDate = addDays(selectedDate, - dayDiff);
			return mondayDate;
		}

		function addDays(date, days){
			return new Date(date.getFullYear(), date.getMonth(), date.getDate() + days);
		}

		function clearSelections(){
			$('div.slot').each(function(index, item){
				$(this).children()[0].checked = false;
				$(this).children()[1].value = null;
			});
		}

		function populateSlots(entries){
			for(var i=0, len = entries.length; i<len ; i++){
				$('#'+entries[i].slot).children()[0].checked = true;
				$('#'+entries[i].slot).children()[1].value = entries[i].price;
			}
		}	

	</script>
}
